* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    background-color: #fff;
    text-align: center;
    font-size: 16px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 65px;
}

.wrap h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #E31E24;
    margin-left: 31px;
}

.rewiew {
    color: #2753A2;
}

.wrap h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 500;
    color: #222222;
}

.card-1 {
    width: 390px;
    height: 473px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border: 2.2px solid #e5e7eb;
}

.card-1 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.6em;
    color: #2753A2;
    text-align: center;
    padding: 20px 65px;
}

.card-1 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.6em;
    color: #222222;
    text-align: center;
    padding: 10px 20px;
}

.card-2 {
    width: 390px;
    height: 473px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border: 2.2px solid #e5e7eb;
}

.card-2 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #2753A2;
    text-align: center;
    padding: 20px 65px;
}

.card-2 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #222222;
    text-align: center;
    padding: 10px 20px;
}

.card-3 {
    width: 390px;
    height: 473px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
     border: 2.2px solid #e5e7eb;
}

.card-3 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 100%;
    color: #2753A2;
    text-align: center;
    padding: 20px 65px;
}

.card-3 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    color: #222222;
    text-align: center;
    padding: 10px 20px;
}

.card-1 img, .card-2 img, .card-3 img {
    width: 76px;
    margin: 50px 0px 20px;
} 

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');